
<body>
    <nav class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top">      <!--it will remain expanded even in medium-->
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><i class="fa-regular fa-compass"></i></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" href="/">Payments</a>
              <a class="nav-link" href="/">Banking</a>
              <a class="nav-link" href="/">Payroll</a>
              <a class="nav-link" href="/">Partners</a>
              <a class="nav-link" href="/">Resources</a>
              <a class="nav-link" href="/">Support</a>
              <a class="nav-link" href="/">Pricing</a>
            </div>
          </div>
          <div>
            <button class="btn btn-primary btn-sign">Sign-in</button>
            <button class="btn btn-dark btn-log">Log-in</button>
          </div>
        </div>

        

      </nav>
</body>
