<%- layout("layouts/boilerplate.ejs") %>


<body>
    <h3 class="seamless"> Seamless Payouts</h3> 
    <h3 class="fine">For India's Finest Disprutors</h3>

    <div class="input-group mb-3 shadow-lg p-3 mb-5 bg-azure rounded">
        <input type="text" class="form-control" placeholder="I'm here to Automate" aria-label="Recipient's username" aria-describedby="basic-addon2">
       <a href="/" class="link"><span class="input-group-text" id="basic-addon2">//Find the best product for your Business</span></a> 
      </div>

<div class="icon">
    <marquee scrollamount="10">
        <i class="fa-brands fa-amazon"> <p>amazon</p></i>
    <i class="fa-brands fa-microsoft"><p>microsoft</p></i>
    <i class="fa-brands fa-google"><p>google</p></i>
    <i class="fa-brands fa-paypal"><p>Paypal</p></i>
    <i class="fa-brands fa-linkedin"><p>Linkedin</p></i>
    <i class="fa-brands fa-stripe"><p>Stripe</p></i>
    <i class="fa-brands fa-airbnb"><p>Airbnb</p></i>
    <i class="fa-brands fa-shopify"><p>Shopify</p></i>
    <i class="fa-brands fa-wix"><p>WIX</p></i>
    <i class="fa-brands fa-cc-visa"><p>Visa</p></i>
    <i class="fa-brands fa-vimeo"><P>Vimeo</P></i>
    <i class="fa-brands fa-discord"><p>Discord</p></i>
    </marquee>
</div>



    <div id="para1">
        <h3 class="finance">The all in one finance platform</h3>
        <h3 class="looking">you've  been  looking for</h3>
    
        <div id="items">
            <p>With Razorpa, you can:</p>
            <p>Accept Payments</p>
            <p> Make Payouts</p>
            <p> Start Business Banking</p>
            <p> Automate Payroll</p>
            <p>Get Credit & Loans</p>
        </div>
  </div>


  <div id="accept">
    <nav class="navbar ">
        <div class="container-fluid">
          <a class="navbar-brand nav-accept" href="#">Accept Payments</a>
        </div>
      </nav>

    <nav class="navbar navbar-expand-md border-bottom "> 
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" href="/">Top Product</a>
              <a class="nav-link" href="/">On Website/App</a>
              <a class="nav-link" href="/">Plugins</a>
              <a class="nav-link" href="/">On Social Media</a>
              <a class="nav-link" href="/">In-store</a>
              <a class="nav-link" href="/">International</a>
              <a class="nav-link" href="/">With Smart Add-ons</a>
            </div>
          </div>
        </div>
    </nav>
<br>

<div class="cards">
    <div class="card" style="width: 18rem;">
        <img src="https://cdn.shopify.com/s/files/1/0507/3754/5401/t/1/assets/C28-4893_LOL_preset_proflowers-mx-tile-wide-lv-new.jpeg?v=1647905473&width=1920" class="card-img-top" alt="card">
        <div class="card-body">
          <h4 class="card-text">Payment Button</h4>
          <p>Effortlessly add and Pay now button without any coding required</p>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrAhMHIOSNk4fjC-cATzemR6qHhW_2OkStOM0-tcMN3PjtNEumI8__y8L5DpSMKHb76gI&usqp=CAU" class="card-img-top" alt="card">
        <div class="card-body">
          <h4 class="card-text">Payments Links</h4>
          <p> Create and share link over emails</p>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTM2YDI6-pMXA4yE6DvATBBqkbd3TpWn0h6A_ve71RUaA5xZOxk9DwXLfGz7Q250iUBRqo&usqp=CAU" class="card-img-top" alt="card">
        <div class="card-body">
          <h4 class="card-text">Razorpay POS</h4>
          <p> accept seamless in-store payments with India's best POs solutions</p>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="https://www.boerberg.com/wp-content/uploads/2023/12/Digital-Marketing-2.jpg" class="card-img-top" alt="card">
        <div class="card-body">
          <h4 class="card-text">Payment pages</h4>
          <p> Accepts payments on a custom-brande online store</p>
        </div>
      </div>

</div>
  </div>

<br>
<br><br><br>


</body>


